@import "variable"
@import "componentsMixin"

*
  margin: 0
  padding: 0
  box-sizing: border-box

body
  background: $color_bisque

.roulette
  overflow: hidden
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  position: relative
  &__arrow
    position: relative
    top: 5px
    img
      width: 80px
      height: 80px
  &__circle
    display: block
    width: 300px
    height: 300px
    margin: 0 auto
    position: relative
    &-part
      width: 100%
      height: 100%
      border-radius: 50%
      position: absolute
      &:nth-child(1)
        clip-path: polygon(20% 0, 50% 50%, 100% -24%, 100% 0)
        @extend %circle_section_black
        p
          @include circle_text(143px, 48px, 0)

      &:nth-child(2)
        clip-path: polygon(50% 50%, 100% -25%, 100% 100%, 500% 100%)
        @extend %circle_section_red
        p
          @include circle_text(215px, 96px, 65deg)

      &:nth-child(3)
        clip-path: polygon(50% 50%, 1400% 100%, 80% 100%)
        @extend %circle_section_black
        p
          @include circle_text(213px, 170px, 120deg)

      &:nth-child(4)
        clip-path: polygon(50% 50%, 16% 100%, 80% 100%)
        @extend %circle_section_red
        p
          @include circle_text(140px, 215px, 175deg)

      &:nth-child(5)
        clip-path: polygon(50% 50%, 0 36.6%, 0 123%)
        @extend %circle_section_black
        p
          @include circle_text(66px, 171px, 237deg)
      &:nth-child(6)
        clip-path: polygon(50% 50%, 0 50%, 0 0, 20% 0)
        @extend %circle_section_red
        p
          @include circle_text(64px, 93px, 296deg)
  &__button
    margin: 30px
    &-run
      @include circle_button($color_red)

.popup
  width: 100%
  min-height: 100%
  padding: 10px
  background-color: $color_black_light
  overflow: hidden
  position: fixed
  top: 0
  display: none
  &__container
    margin: 40px auto 0 auto
    max-width: 500px
    min-height: 300px
    padding: 40px 10px
    background-color: $color_white
    border-radius: 5px
    box-shadow: 0 0 10px $color_black
    &-line
      width: 100%
      height: 1px
      background: $color_black_light
      margin: 20px 0
    &-tittle
      font-family: $font-family
      color: $color_red
      text-transform: uppercase
      text-align: center
    &-content
      height: 50px
      width: 50px
      margin: auto
      background: $color_black
      display: flex
      align-items: center
      justify-content: center
      border-radius: 100%
      &_number
        font-family: $font-family
        color: $color_red
        font-size: 32px
        font-weight: bold
        text-align: center
    &-button
      display: flex
      align-items: center
      justify-content: center
      flex-wrap: wrap
      &_run
        @include popup_button($color_red)

      &_stop
        @include popup_button($color_black)

.show
  display: block

.disabled
  cursor: not-allowed
  .roulette__button-run
    opacity: 0.4
    pointer-events: none

